* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Ensures padding and border are included in the element's total width and height */
}
#root{
  max-width: 100vw;
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: column;
}

.container {
  overflow-y: auto;
  width: 100vw;
  height: 100%;
}

/* Hide the scrollbar */
.container::-webkit-scrollbar {
  display: none;
}

